{% extends 'base.html.twig' %}

{% block title %}Edit Preferer{% endblock %}

{% block body %}
    <h1>Edit Preferer</h1>

    {{ include('preferer/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_preferer_index') }}">back to list</a>

    {{ include('preferer/_delete_form.html.twig') }}
{% endblock %}
