{% extends 'base.html.twig' %}

{% block title %}New Specialitee{% endblock %}

{% block body %}
    <h1>Create new Specialitee</h1>

    {{ include('specialitee/_form.html.twig') }}

    <a href="{{ path('app_specialitee_index') }}">back to list</a>
{% endblock %}
