<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        
    </head>
    <body>
        {% block body %}Liste entreprise{% endblock %}
         <a href="{{ path('DetailEntreprise')}}">
        <button type=submit >Detail [temp]</button>
    </a>
    </body>
</html>
