{% extends 'base.html.twig' %}

{% block title %}New Lier{% endblock %}

{% block body %}
    <h1>Create new Lier</h1>

    {{ include('lier/_form.html.twig') }}

    <a href="{{ path('app_lier_index') }}">back to list</a>
{% endblock %}
